@{
    ViewBag.Title = "Kontakt - Auto Portal";
}

<link href="~/CSS/StyleSheet.css" rel="Stylesheet" type="text/css" />

<div class="text-center" style="font-style:italic">
    <h1 class="wrapper">Kontakt</h1>
</div>

<div class="row" style="margin-top:60px">
    <div class="col-md-6" style="text-align:center">
        <img src="~/Slike/Contact/admin.jpg" alt="Admin" height="300" width="300">
    </div>
    <div class="col-md-6" style="text-align:center; font-size:larger; font-family:'Times New Roman'; font-style:italic">
        <h1 style="font-style:normal">Adresa: </h1><p>Ul. bana Josipa Jelačića 22, 40000, Čakovec</p>
        <h1 style="font-style:normal">Broj telefona:</h1><p>+385 95 355 7001</p>
        <h1 style="font-style:normal">E-mail: </h1> <p> admin@auto-portal.hr</p>
    </div>
</div>


<div class="row" style="margin-top:60px">
    <div class="col-md-6" style="text-align:center;">
        <img src="~/Slike/Contact/mod.jpg" alt="Moderator" height="300" width="300" style="border-radius:50%" />
    </div>
    <div class="col-md-6" style="text-align:center; font-size:larger; font-family:'Times New Roman'; font-style:italic">
        <h1 style="font-style:normal">Adresa: </h1> <p>Ul. bana Josipa Jelačića 22, 40000, Čakovec</p>
        <h1 style="font-style:normal">Broj telefona:</h1> <p>+385 97 782 1172 </p>
        <h1 style="font-style:normal">E-mail: </h1> <p>moderator@auto-portal.hr </p>
    </div>


</div>
