@using AutoPortal.Models
@model List<Auto>
@{
    ViewBag.Title = "Auto Portal - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .con {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        font-size: large;
    }

        .con .content {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 20px;
            text-align: center;
        }

    .img {
        filter: grayscale(100%);
    }

        .img:hover {
            filter: none;
        }

    .zoom {
        transition: transform .2s;
    }

        .zoom:hover {
            transform: scale(1.1);
        }

    .thumbnail {
        height: 250px;
        width: 100%;
    }
</style>

<div class="container">
    <div class="row" style="margin-top:15px">

        @foreach (var auto in Model)
        {
            var imagepath = @"/Slike/logo/" + auto.Marka.ToString() + ".png";
            <div class="col-md-4">
                <div class="img zoom thumbnail con" style="margin-top:15px">
                    <a href="@Url.Action("Popis", "Home", new { car = auto.Marka })" style="display:block;height:100%;width:100%;text-decoration: none">
                        <img src="@imagepath" style="max-height:200px" onerror="src='/Slike/Default/noimage.jpg'"/>
                        <div class="content">@auto.Marka</div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>