@{
    ViewBag.Title = "Popis sastanaka - Auto Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOp = new AjaxOptions()
    {
        UpdateTargetId = "popisUgovor",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnBegin = "LoadingRow"
    };
}

<link href="~/CSS/StyleSheet.css" rel="Stylesheet" type="text/css" />

<div class="text-center" style="font-style:italic">
    <h1 class="wrapper">Popis sastanaka</h1>
</div>

<br />
<br />

@using (Ajax.BeginForm("PretrazivanjePartial", "Ugovor", ajaxOp, new { @class = "form-inline", id = "formPopisUgovor" }))
{

    @Html.TextBox("Mail_Ug", "", new { @class = "form-control", placeholder = "Mail korisnika" })

    @Html.TextBox("Model", "", new { @class = "form-control", placeholder = "Model auta", style = "margin-left:15px" })

    @Html.TextBox("Datum", "", new { @class = "form-control", placeholder = "Datum sastanka", style = "margin-left:15px", type = "date" });

    <button type="submit" class="btn btn-primary" style="margin-left:15px">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Traži
    </button>

}

<div class="modal" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modalView" aria-hidden="true" data-backdrop="static">
    <div id="viewContainer">

    </div>
</div>

@{Html.RenderAction("PretrazivanjePartial", new { Mail_Ug = "", Model = "", Datum = "" });}

@section scripts{
    <script type="text/javascript">
        $(document).on('click', '#UgovorDelete', function () {
            event.preventDefault();
            var url = $(this).attr("data-url");

            $.ajax({
                url: url,
                success: function (data) {
                    $('#viewContainer').html(data);
                    $('#modalView').modal('show');
                },
                error: function (xhr, textStatus, thrownError) { alert(xhr.responseText); }
            });
        });

        function DeleteSuccess() {
            $('#modalView').modal('hide');
            $('#viewContainer').html("");
            bootbox.alert("<div class='text-center'><b>Zapis izbrisan!!!!</b></div>", function () {
                location.reload();
            });
        }

        function LoadingRow() {
            $("#ugovor tbody").empty();
            $("#ugovor tbody").append('<tr><td colspan="7" style="text-align:center">Pretraga u tijeku...</td></tr>');
            $("#pager").empty();
        }
    </script>
}